.ArrowKey{
    background:     transparent;
    border-radius:  100px;
    padding:        5px;
    z-index:        3;
    height:40px;
    width:40px;
}

.ArrowKey[id=UP]{
  
    transform:      rotate(90deg)
}

.ArrowKey[id=DOWN]{
    transform:      rotate(-90deg)
}

.ArrowKey[id=RIGHT]{
    transform:      rotate(180deg)
}

.ArrowKey[id=LEFT]{
    transform:      rotate(0deg)
}