.ArrowKey{
    background:     transparent;
    border-radius:  100px;
    max-width:      0px;
    padding:        0;
    z-index:        5
}

.ArrowKey[id=UP]{
    position:       absolute;
    top:            -1.5%;
    left:           50%;
    transform:      rotate(90deg)
}

.ArrowKey[id=DOWN]{
    position:       absolute;
    bottom:         -1.5%;
    left:           50%;
    transform:      rotate(-90deg)
}

.ArrowKey[id=LEFT]{
    position:       absolute;
    bottom:         50%;
    left:           3.5%;
}

.ArrowKey[id=RIGHT]{
    position:       absolute;
    bottom:         50%;
    left:           99.5%;
    transform:      rotate(180deg)
}