.sim-button{
    background-color: #1c2224;
    width:180PX;
    border: 3px;
    border-color: #1c2224;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
}
.sim-button:hover{
    background-color: #273135;
    border-color:white;
}

.sim-light{
    background-color: #1c2224;
    width: 60px;
    border: 3px;
    border-color: #292929;
    color: #1c2224;
    padding: 10px 10px;
    margin: 5px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    display: flex;
}

.sim-button-failure{
    background-color: #1c2224;
    width: 170PX;
    border: 3px;
    border-color: #ffffff00;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
}

.sim-button-filter{
    background-color: #1c2224;
    width: 150PX;
    border: 3px;
    border-color: #ffffff00;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    text-align:center;
    text-decoration: none;
    font-size: 16px;
}

.sim-button-reset{
    background-color: #1c2224;
    width: 150PX;
    border: 3px;
    border-color: #ffffff00;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    text-align:center;
    text-decoration: none;
    font-size: 16px;
    float: right;
}

h3{
    color: white;
    display: inline;
}

p{
    user-select: none;
}

.grid-container-hydrolics{
    display:grid;
    grid-template-areas:
        'Buttons Failure-Buttons Lights';
    grid-gap: 5px;
}


#LV{
    background-color: White;
    color: #1c2224;
}

#LHENG{
    background-color: rgb(49, 0, 0);
}
#RHENG{
    background-color: rgb(49, 0, 0);
}
#RV{
    background-color: White;
    color: #1c2224;
}

#HYDP{
    background-color: rgb(255, 139, 139);
}

