/* This file contains the base styling for the panes and buttons necessary for them to appear in their specific positions and not overlap. */

.ViewPort{
    overflow: hidden;
    justify-self:start;
    width:100%;
    height: 97vh;
    background: rgb(29, 29, 29);
    grid-area: viewPort;
    box-shadow: inset 0px 6px 10px black;
}

.InteractivePane{
    grid-area: interactivePane;
    justify-self: end;
    border-left: 10px;
    border-left: 10px solid #1c2224;
    height: 97vh;
    overflow: scroll;
    display: block;
}

.int-toggle-container {
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.nav-toggle-container {
    position: absolute;
    top: 70px;
    left: 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.grid-container{
    grid-template-columns: auto minmax(0, 1fr);
    display:grid;
    grid-template-areas:
        'viewport viewPort interactivePane'
        'viewport viewPort interactivePane'
}

::-webkit-scrollbar{

    display: none;

}
.button-grid-container{
    padding-left:10px;
    display:grid;
    grid-template-areas:
        '. up .'
        'left down right'
}

#buttonGridViewPort{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5
}

#UP{
    grid-area: up;
}

#LEFT{
    grid-area: left;
}

#DOWN{
    grid-area: down;
}

#RIGHT{
    grid-area: right;
}

#NavBarOpened{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    bottom: 50px;
    left: 140px;
}

.transform-component-module_wrapper__1_Fgj{
    overflow: visible !important;
}

#InteractiveOpened{
    position: fixed;
    z-index: 2;
    cursor: pointer;
    right: 480px;
    bottom: 50px;
}

#buttonGridViewPort{
    display: none;
}

/*Not Ideal but can't figure out why height = 0 */ 
#img-mapper{
    height:2343px !important;
}
